button {
  cursor: pointer;
}
.site-address {
  font-style: normal;
  letter-spacing: 0.02em;
}
.logo-h {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-h span {
  color: #4d5ae5;
}

.nav {
  font-weight: 500;
  color: #2e2f42;
  letter-spacing: 0.02em;
}
.site-nav a:hover,
.site-nav a:focus {
  color: #404bbf;
}
.site-address a:hover,
.site-address a:focus {
  color: #404bbf;
}
